Repository exercism/emacs-lisp, pull requests merged in 2024-06, with the labels that each got.

#394 Add spiral-matrix exercise
  config.json
  exercises/practice/spiral-matrix/.docs/instructions.md
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/spiral-matrix/.meta/example.el
  exercises/practice/spiral-matrix/.meta/tests.toml
  exercises/practice/spiral-matrix/spiral-matrix-test.el
  exercises/practice/spiral-matrix/spiral-matrix.el
Labels: x:module/practice-exercise, x:rep/large

#396 Add diamond exercise
  config.json
  exercises/practice/diamond/.docs/instructions.md
  exercises/practice/diamond/.meta/config.json
  exercises/practice/diamond/.meta/example.el
  exercises/practice/diamond/.meta/tests.toml
  exercises/practice/diamond/diamond-test.el
  exercises/practice/diamond/diamond.el
Labels: x:module/practice-exercise, x:rep/large

#395 Add pascals-triangle exercise
  config.json
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/pascals-triangle/.meta/example.el
  exercises/practice/pascals-triangle/.meta/tests.toml
  exercises/practice/pascals-triangle/pascals-triangle-test.el
  exercises/practice/pascals-triangle/pascals-triangle.el
Labels: x:module/practice-exercise, x:rep/large

#397 Add secret-handshake exercise
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.docs/introduction.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/example.el
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/secret-handshake-test.el
  exercises/practice/secret-handshake/secret-handshake.el
Labels: x:module/practice-exercise, x:rep/large

#398 Add satellite exercise
  config.json
  exercises/practice/satellite/.docs/instructions.md
  exercises/practice/satellite/.meta/config.json
  exercises/practice/satellite/.meta/example.el
  exercises/practice/satellite/.meta/tests.toml
  exercises/practice/satellite/satellite-test.el
  exercises/practice/satellite/satellite.el
Labels: x:module/practice-exercise, x:rep/large

#399 add Pig Latin, part of 24 in 48
  config.json
  exercises/practice/pig-latin/.docs/instructions.md
  exercises/practice/pig-latin/.docs/introduction.md
  exercises/practice/pig-latin/.meta/config.json
  exercises/practice/pig-latin/.meta/example.el
  exercises/practice/pig-latin/.meta/tests.toml
  exercises/practice/pig-latin/pig-latin-test.el
  exercises/practice/pig-latin/pig-latin.el
Labels: x:module/practice-exercise, x:rep/large

#402 add food-chain, part of 48 in 24
  config.json
  exercises/practice/food-chain/.docs/instructions.md
  exercises/practice/food-chain/.meta/config.json
  exercises/practice/food-chain/.meta/example.el
  exercises/practice/food-chain/.meta/tests.toml
  exercises/practice/food-chain/food-chain-test.el
  exercises/practice/food-chain/food-chain.el
Labels: x:module/practice-exercise, x:rep/large

#400 add circular-buffer, part of 48 in 24
  config.json
  exercises/practice/circular-buffer/.docs/instructions.md
  exercises/practice/circular-buffer/.meta/config.json
  exercises/practice/circular-buffer/.meta/example.el
  exercises/practice/circular-buffer/.meta/tests.toml
  exercises/practice/circular-buffer/circular-buffer-test.el
  exercises/practice/circular-buffer/circular-buffer.el
Labels: x:module/practice-exercise, x:rep/large

#401 add bank-account, part of 48 in 24
  config.json
  exercises/practice/bank-account/.docs/instructions.md
  exercises/practice/bank-account/.docs/introduction.md
  exercises/practice/bank-account/.meta/config.json
  exercises/practice/bank-account/.meta/example.el
  exercises/practice/bank-account/.meta/tests.toml
  exercises/practice/bank-account/bank-account-test.el
  exercises/practice/bank-account/bank-account.el
Labels: x:module/practice-exercise, x:rep/large

#406 add yacht, part of 48 in 24
  config.json
  exercises/practice/yacht/.docs/instructions.md
  exercises/practice/yacht/.docs/introduction.md
  exercises/practice/yacht/.meta/config.json
  exercises/practice/yacht/.meta/example.el
  exercises/practice/yacht/.meta/tests.toml
  exercises/practice/yacht/yacht-test.el
  exercises/practice/yacht/yacht.el
Labels: x:module/practice-exercise, x:rep/large

#407 add accumulate exercise
  config.json
  exercises/practice/accumulate/.docs/instructions.md
  exercises/practice/accumulate/.meta/config.json
  exercises/practice/accumulate/.meta/example.el
  exercises/practice/accumulate/.meta/tests.toml
  exercises/practice/accumulate/accumulate-test.el
  exercises/practice/accumulate/accumulate.el
Labels: x:module/practice-exercise, x:rep/large

#403 fix [Improve Practice Exercise] Atbash Cipher #386
  exercises/practice/atbash-cipher/.meta/config.json
  exercises/practice/atbash-cipher/.meta/example.el
  exercises/practice/atbash-cipher/atbash-cipher-test.el
  exercises/practice/atbash-cipher/atbash-cipher.el
Labels: x:module/practice-exercise, x:rep/large

#412 add missing tests for anagram, fix #364
  exercises/practice/anagram/.meta/tests.toml
  exercises/practice/anagram/anagram-test.el
Labels: x:action/sync, x:rep/tiny

#405 Grade school
  config.json
  exercises/practice/grade-school/.docs/instructions.md
  exercises/practice/grade-school/.meta/config.json
  exercises/practice/grade-school/.meta/example.el
  exercises/practice/grade-school/.meta/tests.toml
  exercises/practice/grade-school/grade-school-test.el
  exercises/practice/grade-school/grade-school.el
Labels: x:module/practice-exercise, x:rep/large

#414 add missing exercies for reverse-string #364
  config.json
  exercises/practice/reverse-string/.meta/config.json
  exercises/practice/reverse-string/.meta/example.el
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/reverse-string/reverse-string-test.el
Labels: x:action/sync, x:module/practice-exercise, x:rep/medium

#415 add meetup exercise, part of 48 in 24
  config.json
  exercises/practice/meetup/.docs/instructions.md
  exercises/practice/meetup/.docs/introduction.md
  exercises/practice/meetup/.meta/config.json
  exercises/practice/meetup/.meta/example.el
  exercises/practice/meetup/.meta/tests.toml
  exercises/practice/meetup/meetup-test.el
  exercises/practice/meetup/meetup.el
Labels: x:module/practice-exercise, x:rep/large

#416 add two-bucket exercise, part of 48 in 24
  config.json
  exercises/practice/two-bucket/.docs/instructions.md
  exercises/practice/two-bucket/.meta/config.json
  exercises/practice/two-bucket/.meta/example.el
  exercises/practice/two-bucket/.meta/tests.toml
  exercises/practice/two-bucket/two-bucket-test.el
  exercises/practice/two-bucket/two-bucket.el
Labels: x:module/practice-exercise, x:rep/large

#418 add zebra-puzzle, part of 48 in 24
  config.json
  exercises/practice/zebra-puzzle/.docs/instructions.md
  exercises/practice/zebra-puzzle/.docs/introduction.md
  exercises/practice/zebra-puzzle/.meta/config.json
  exercises/practice/zebra-puzzle/.meta/example.el
  exercises/practice/zebra-puzzle/.meta/tests.toml
  exercises/practice/zebra-puzzle/zebra-puzzle-test.el
  exercises/practice/zebra-puzzle/zebra-puzzle.el
Labels: x:module/practice-exercise, x:rep/large

#423 add strain exercise
  config.json
  exercises/practice/strain/.docs/instructions.md
  exercises/practice/strain/.meta/config.json
  exercises/practice/strain/.meta/example.el
  exercises/practice/strain/.meta/tests.toml
  exercises/practice/strain/strain-test.el
  exercises/practice/strain/strain.el
Labels: x:module/practice-exercise, x:rep/large

#426 add proverb exercise
  config.json
  exercises/practice/proverb/.docs/instructions.md
  exercises/practice/proverb/.meta/config.json
  exercises/practice/proverb/.meta/example.el
  exercises/practice/proverb/.meta/tests.toml
  exercises/practice/proverb/proverb-test.el
  exercises/practice/proverb/proverb.el
Labels: x:module/practice-exercise, x:rep/large

#425 add say exercise
  config.json
  exercises/practice/say/.docs/instructions.md
  exercises/practice/say/.meta/config.json
  exercises/practice/say/.meta/example.el
  exercises/practice/say/.meta/tests.toml
  exercises/practice/say/say-test.el
  exercises/practice/say/say.el
Labels: x:module/practice-exercise, x:rep/large
