Repository exercism/emacs-lisp, pull requests merged in 2024-05, with the labels that each got.

#317 feat: Add exercise Triangle (closes #312)
  config.json
  exercises/practice/triangle/.docs/instructions.md
  exercises/practice/triangle/.meta/config.json
  exercises/practice/triangle/.meta/example.el
  exercises/practice/triangle/.meta/tests.toml
  exercises/practice/triangle/triangle-test.el
  exercises/practice/triangle/triangle.el
Labels: x:module/practice-exercise, x:rep/large

#314 feat: Add exercise Collatz Conjecture (closes #310)
  config.json
  exercises/practice/collatz-conjecture/.docs/instructions.md
  exercises/practice/collatz-conjecture/.meta/config.json
  exercises/practice/collatz-conjecture/.meta/example.el
  exercises/practice/collatz-conjecture/.meta/tests.toml
  exercises/practice/collatz-conjecture/collatz-conjecture-test.el
  exercises/practice/collatz-conjecture/collatz-conjecture.el
Labels: x:module/practice-exercise, x:rep/large

#365 Add largest-series-product exercise
  config.json
  exercises/practice/largest-series-product/.docs/instructions.md
  exercises/practice/largest-series-product/.docs/introduction.md
  exercises/practice/largest-series-product/.meta/config.json
  exercises/practice/largest-series-product/.meta/example.el
  exercises/practice/largest-series-product/.meta/tests.toml
  exercises/practice/largest-series-product/largest-series-product-test.el
  exercises/practice/largest-series-product/largest-series-product.el
Labels: x:module/practice-exercise, x:rep/large

#366 Add isogram exercise
  config.json
  exercises/practice/isogram/.docs/instructions.md
  exercises/practice/isogram/.meta/config.json
  exercises/practice/isogram/.meta/example.el
  exercises/practice/isogram/.meta/tests.toml
  exercises/practice/isogram/isogram-test.el
  exercises/practice/isogram/isogram.el
Labels: x:module/practice-exercise

#367 Sync gigasecond tests and stub
  exercises/practice/gigasecond/.meta/example.el
  exercises/practice/gigasecond/gigasecond-test.el
  exercises/practice/gigasecond/gigasecond.el
Labels: x:action/sync, x:rep/tiny

#368 Sync hamming tests and update stub
  exercises/practice/hamming/hamming-test.el
  exercises/practice/hamming/hamming.el
Labels: x:action/sync, x:rep/tiny

#374 Add square-root exercise
  config.json
  exercises/practice/square-root/.docs/instructions.md
  exercises/practice/square-root/.meta/config.json
  exercises/practice/square-root/.meta/example.el
  exercises/practice/square-root/.meta/tests.toml
  exercises/practice/square-root/square-root-test.el
  exercises/practice/square-root/square-root.el
Labels: x:module/practice-exercise, x:rep/large

#372 Add prime-factors exercise
  config.json
  exercises/practice/prime-factors/.docs/instructions.md
  exercises/practice/prime-factors/.meta/config.json
  exercises/practice/prime-factors/.meta/example.el
  exercises/practice/prime-factors/.meta/tests.toml
  exercises/practice/prime-factors/prime-factors-test.el
  exercises/practice/prime-factors/prime-factors.el
Labels: x:module/practice-exercise, x:rep/large

#373 Add pythagorean-triplet exercise
  config.json
  exercises/practice/pythagorean-triplet/.docs/instructions.md
  exercises/practice/pythagorean-triplet/.meta/config.json
  exercises/practice/pythagorean-triplet/.meta/example.el
  exercises/practice/pythagorean-triplet/.meta/tests.toml
  exercises/practice/pythagorean-triplet/pythagorean-triplet-test.el
  exercises/practice/pythagorean-triplet/pythagorean-triplet.el
Labels: x:module/practice-exercise, x:rep/large

#375 Add series exercise
  config.json
  exercises/practice/series/.docs/instructions.md
  exercises/practice/series/.meta/config.json
  exercises/practice/series/.meta/example.el
  exercises/practice/series/.meta/tests.toml
  exercises/practice/series/series-test.el
  exercises/practice/series/series.el
Labels: x:module/practice-exercise, x:rep/large

#376 Add sieve exercise
  config.json
  exercises/practice/sieve/.docs/instructions.md
  exercises/practice/sieve/.docs/introduction.md
  exercises/practice/sieve/.meta/config.json
  exercises/practice/sieve/.meta/example.el
  exercises/practice/sieve/.meta/tests.toml
  exercises/practice/sieve/sieve-test.el
  exercises/practice/sieve/sieve.el
Labels: x:module/practice-exercise, x:rep/large

#377 Add knapsack exercise
  config.json
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.meta/config.json
  exercises/practice/knapsack/.meta/example.el
  exercises/practice/knapsack/.meta/tests.toml
  exercises/practice/knapsack/knapsack-test.el
  exercises/practice/knapsack/knapsack.el
Labels: x:module/practice-exercise, x:rep/large

#378 Add protein-translation exercise
  config.json
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/protein-translation/.meta/example.el
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/protein-translation-test.el
  exercises/practice/protein-translation/protein-translation.el
Labels: x:module/practice-exercise, x:rep/large

#379 Add nth-prime exercise
  config.json
  exercises/practice/nth-prime/.docs/instructions.md
  exercises/practice/nth-prime/.meta/config.json
  exercises/practice/nth-prime/.meta/example.el
  exercises/practice/nth-prime/.meta/tests.toml
  exercises/practice/nth-prime/nth-prime-test.el
  exercises/practice/nth-prime/nth-prime.el
Labels: x:module/practice-exercise, x:rep/large

#380 Add space-age exercise
  config.json
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.docs/introduction.md
  exercises/practice/space-age/.meta/config.json
  exercises/practice/space-age/.meta/example.el
  exercises/practice/space-age/.meta/tests.toml
  exercises/practice/space-age/space-age-test.el
  exercises/practice/space-age/space-age.el
Labels: x:module/practice-exercise, x:rep/large

#382 Add sum-of-multiples exercise
  config.json
  exercises/practice/sum-of-multiples/.docs/instructions.md
  exercises/practice/sum-of-multiples/.docs/introduction.md
  exercises/practice/sum-of-multiples/.meta/config.json
  exercises/practice/sum-of-multiples/.meta/example.el
  exercises/practice/sum-of-multiples/.meta/tests.toml
  exercises/practice/sum-of-multiples/sum-of-multiples-test.el
  exercises/practice/sum-of-multiples/sum-of-multiples.el
Labels: x:module/practice-exercise, x:rep/large

#381 Add minesweeper exercise
  config.json
  exercises/practice/minesweeper/.docs/instructions.md
  exercises/practice/minesweeper/.docs/introduction.md
  exercises/practice/minesweeper/.meta/config.json
  exercises/practice/minesweeper/.meta/example.el
  exercises/practice/minesweeper/.meta/tests.toml
  exercises/practice/minesweeper/minesweeper-test.el
  exercises/practice/minesweeper/minesweeper.el
Labels: x:module/practice-exercise, x:rep/large

#383 Deprecate trinary for all-your-base
  config.json
Labels: x:rep/tiny

#384 Sync tests for luhn and update stub
  exercises/practice/luhn/.meta/tests.toml
  exercises/practice/luhn/luhn.el
Labels: x:action/sync, x:rep/tiny

#385 Sync test inputs for bob
  exercises/practice/bob/bob-test.el
  exercises/practice/bob/bob.el
Labels: x:action/sync, x:rep/tiny

#389 knapsack: sync
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.docs/introduction.md
Labels: x:size/tiny

#388 anagram: sync
  exercises/practice/anagram/.docs/instructions.md
  exercises/practice/anagram/.docs/introduction.md
Labels: x:size/tiny

#390 kindergarten-garden: sync
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.docs/introduction.md
Labels: x:size/tiny

#392 Add dnd-character
  config.json
  exercises/practice/dnd-character/.docs/instructions.md
  exercises/practice/dnd-character/.docs/introduction.md
  exercises/practice/dnd-character/.meta/config.json
  exercises/practice/dnd-character/.meta/example.el
  exercises/practice/dnd-character/.meta/tests.toml
  exercises/practice/dnd-character/dnd-character-test.el
  exercises/practice/dnd-character/dnd-character.el
Labels: x:module/practice-exercise, x:rep/large

#393 Add robot simulator
  config.json
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/robot-simulator/.meta/config.json
  exercises/practice/robot-simulator/.meta/example.el
  exercises/practice/robot-simulator/.meta/tests.toml
  exercises/practice/robot-simulator/robot-simulator-test.el
  exercises/practice/robot-simulator/robot-simulator.el
Labels: x:module/practice-exercise, x:rep/large
